
<div class="app-matche-details">
    <div class="app-matche-details-title">
        <app-icon [width]="100" [imageUrl]="matchInfos.imageUrl"></app-icon>
        <div class="app-matche-details-title-type">
            Match de {{matchInfos.type}}
        </div>
        <div></div>
    </div>
    <div class="app-matche-details-content">
        <div class="app-matche-details-content-1" *ngIf="!complete">
            <app-cercle-plan [playersNumber]="playersNumber" [playersInfo]="playersInfo">
                <div *ngIf="playersNumber <= playersInfo.length">
                    <app-icon imageUrl="/assets/Valider.svg" [width]="70"></app-icon>
                </div>
            </app-cercle-plan>
            <div *ngIf="playersNumber <= playersInfo.length" class="app-matche-details-buttons">
                <app-button-item imageUrl="/assets/ChoixManuel.svg" buttonText="Choix manuel"/>
                <app-button-item (click)="aletoireChoice()" imageUrl="/assets/ChoixAleatoire.svg" buttonText="Choix aléatoire"/>
                <app-button-item imageUrl="/assets/ChoixAutomatique.svg" buttonText="Choix automatique"/>
            </div>
        </div>
        
        <div *ngIf="complete" [style.display]="'flex'" [style.gap.px]="30">
            <div class="app-matche-details-content-team-1">
                <div class="app-matche-details-team-title">Équipe 1</div>
                <app-cercle-plan [playersNumber]="playersNumber/2" [playersInfo]="firstTeam"></app-cercle-plan>
            </div>
            <div class="app-matche-details-content-team-2">
                <div class="app-matche-details-team-title">Équipe 2</div>
                <app-cercle-plan [playersNumber]="playersNumber/2" [playersInfo]="secondTeam"></app-cercle-plan>
            </div>
        </div>

    </div>
</div>