
<div class="app-matche-details">
    <div class="app-matche-details-title">
        <app-icon [width]="100" imageUrl="/assets/{{matchData.sportName}}.svg"></app-icon>
        <div class="app-matche-details-title-type">
            Match de {{matchData.sportName}}
        </div>
    </div>
    <div class="app-matche-details-description">
        <div>Date de début : 15/12/2023</div>
        <div>Nombre de Joueurs : {{matchData.noPlayers}}</div>
        <div>Nombre de Remplaçants : 2</div>
        <div>Adresse : {{matchData.location}}</div>
        <div>Description : Prix 7€</div>
    </div>

        <!-- Status : CANCELED  -->
        <div *ngIf="this.matchData.status=='CANCELED'" class="app-matche-details-content">
            Match Annulé
            <app-icon imageUrl="/assets/Annuler.svg" [width]="70"></app-icon>
        </div>


        <!-- Status : PENDING  or CLOSED  -->
        <div *ngIf="this.matchData.status=='PENDING' || this.matchData.status=='CLOSED'" class="app-matche-details-content">
            <div class="app-matche-details-content-1" >
                <app-cercle-plan [playersNumber]="matchData.noPlayers" [playersInfo]="playersInfo">
                    
                    <div *ngIf="!this.matchData.canceled && matchData.noPlayers <= playersInfo.length">
                        <app-icon imageUrl="/assets/Valider.svg" [width]="70"></app-icon>
                    </div>
                    <!-- isIn ? -->
                    <div *ngIf="!this.matchData.canceled && matchData.noPlayers > playersInfo.length && !isIn()">
                        <app-button (click)="joinMatch()" buttonText="Participer"/>
                    </div>
                    <div *ngIf="!this.matchData.canceled && matchData.noPlayers > playersInfo.length && isIn()" >
                        <app-button (click)="unjoinMatch()" buttonText="Quitter"/>
                    </div>
                </app-cercle-plan>
                
                <div *ngIf=" (isOrganiser() || isAdmin )"> <!-- isAdmin() -->
                    <app-button (click)="deleteMatch()" buttonText="Annuler le match"/>
                    <app-button *ngIf="this.matchData.status=='PENDING' && matchData.noPlayers <= playersInfo.length" (click)="closeMatch()" buttonText="Fermer la participation"/>
                    <app-button *ngIf="this.matchData.status=='CLOSED'" (click)="openMatch()" buttonText="Ouvrir la participation"/>
                </div>
                
                <div *ngIf=" this.matchData.status=='CLOSED' && (isOrganiser() || isAdmin ) && matchData.noPlayers <= playersInfo.length" class="app-matche-details-buttons">
                    <app-button-item (click)="manualChoice()" imageUrl="/assets/ChoixManuel.svg" buttonText="Choix manuel"/>
                    <app-button-item (click)="randomChoice()" imageUrl="/assets/ChoixAleatoire.svg" buttonText="Choix aléatoire"/>
                    <app-button-item (click)="automaticChoice()" imageUrl="/assets/ChoixAutomatique.svg" buttonText="Choix automatique"/>
                </div>
            </div>
            
            <!-- Random -->
            <div *ngIf=" this.matchData.status=='CLOSED' && (type=='random' || type=='auto')" [style.display]="'flex'" [style.gap.px]="30">
                <div class="app-matche-details-content-team-1">
                    <div class="app-matche-details-team-title">Équipe 1</div>
                    <app-cercle-plan [playersNumber]="matchData.noPlayers/2" [playersInfo]="teams[0].players">
                        <div class="app-matche-details-team-elo">
                            <div class="app-matche-details-team-title">Elo de l'équipe</div>
                            <div class="app-matche-details-team-elo-content">{{averageEloEquipe(teams[0].players)}}</div>
                        </div>
                    </app-cercle-plan>
                </div>
                <div class="app-matche-details-content-team-2">
                    <div class="app-matche-details-team-title">Équipe 2</div>
                    <app-cercle-plan [playersNumber]="matchData.noPlayers/2" [playersInfo]="teams[1].players">
                        <div class="app-matche-details-team-elo">
                            <div class="app-matche-details-team-title">Elo de l'équipe</div>
                            <div class="app-matche-details-team-elo-content">{{averageEloEquipe(teams[1].players)}}</div>
                        </div>
                    </app-cercle-plan>
                </div>
            </div>
    
            <!-- Manuel -->
            <div *ngIf="type=='manual'" class="teams-container">
                <div cdkDropList id="playersInfoList" [cdkDropListData]="playersInfo" [cdkDropListConnectedTo]="['firstTeamList', 'secondTeamList']"  class="team" (cdkDropListDropped)="drop($event)">
                  <div class="app-matche-details-team-title">Tous les joueurs</div>
                    <div class="app-matche-details-team-drag">
                      <div  *ngFor="let player of playersInfo" cdkDrag>
                          <app-icon [width]="93" color="#3062C8" [imageUrl]="player.profileImage"></app-icon> 
                        </div>
                    </div>
                </div>
                <div cdkDropList id="firstTeamList" [cdkDropListData]="teams[0].players" class="team" (cdkDropListDropped)="drop($event)">
                  <div class="app-matche-details-team-title">Équipe 1</div>
                    <div class="app-matche-details-team-drag">
                      <div *ngFor="let player of teams[0].players" cdkDrag>
                          <app-icon [width]="93" color="#3062C8" [imageUrl]="player.profileImage"></app-icon> 
                        </div>
                    </div>
                </div>
                <div cdkDropList id="secondTeamList" [cdkDropListData]="teams[1].players"  class="team" (cdkDropListDropped)="drop($event)">
                  <div class="app-matche-details-team-title">Équipe 2</div>
                    <div class="app-matche-details-team-drag">
                      <div *ngFor="let player of teams[1].players" cdkDrag>
                          <app-icon [width]="93" color="#3062C8" [imageUrl]="player.profileImage"></app-icon> 
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Confirmer le match  -->
            <div *ngIf="type!='' " >
                <app-button (click)="confirmMatch()" buttonText="Confirmer le match"/>
            </div>
        </div>

        
        <!-- Status : CONFIRMED  -->
        <div *ngIf="this.matchData.status=='CONFIRMED' || this.matchData.status=='RECORDED' || this.matchData.status=='FORMED'" class="app-matche-details-content">
            <div [style.display]="'flex'" [style.gap.px]="30">
                <div class="app-matche-details-content-team-1">
                    <div class="app-matche-details-team-title">Équipe 1</div>
                    <app-cercle-plan [playersNumber]="matchData.noPlayers/2" [playersInfo]="teams[0].players">
                        <div class="app-matche-details-team-elo">
                            <div class="app-matche-details-team-title">Elo de l'équipe</div>
                            <div class="app-matche-details-team-elo-content">{{averageEloEquipe(teams[0].players)}}</div>
                        </div>
                        <div *ngIf="this.score" >
                            <label for="integerInput">
                                <div class="app-matche-details-team-title">Score :</div>
                            </label>
                            <input [(ngModel)]="this.teams[0].score" type="number" id="integerInput" name="integerInput" step="1">
                        </div>    
                    </app-cercle-plan>
                    
                </div>
                <div class="app-matche-details-content-team-2">
                    <div class="app-matche-details-team-title">Équipe 2</div>
                    <app-cercle-plan [playersNumber]="matchData.noPlayers/2" [playersInfo]="teams[1].players">
                        <div class="app-matche-details-team-elo">
                            <div class="app-matche-details-team-title">Elo de l'équipe</div>
                            <div class="app-matche-details-team-elo-content">{{averageEloEquipe(teams[1].players)}}</div>
                        </div>
                        <div *ngIf="this.score">
                            <label for="integerInput">
                                <div class="app-matche-details-team-title">Score :</div>
                            </label>
                            <input [(ngModel)]="this.teams[1].score" type="number" id="integerInput" name="integerInput" step="1" >
                        </div>
                    </app-cercle-plan>
                </div>
            </div>
            <app-button *ngIf="!this.score" (click)="changeTeams()" buttonText="changer les équipes"/>
            <app-button *ngIf="!this.score && !(this.matchData.status=='RECORDED')" (click)="this.score=true" buttonText="Entrer les scores"/>
            <app-button *ngIf="this.score && !(this.matchData.status=='RECORDED')" (click)="recordScores()" buttonText="Enregistrer les scores"/>
        </div>
</div>