<div class="toolbar-notification-container">
  <div class="dropdown mat-elevation-z4" [class.open]="isOpen">

    <div class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
          <div class="name">Notifications</div>
          <div class="extra">You have {{ notifications.length }} new notifications</div>
        </div>
      </div>

      <ul class="notification-list" *ngIf="notifications?.length !== 0; else elseBlock;">
        <li *ngFor="let notification of notifications" class="notification" mat-ripple>
          <mat-icon class="icon">notifications</mat-icon>
          <div class="title" fxLayout="column">
            <div class="name">{{ notification?.message }}</div>
            <div class="time">{{ notification?.dateCreated }}</div>
          </div>
          <span fxFlex></span>
          <button type="button">
            <mat-icon class="close">close</mat-icon>
          </button>
        </li>
      </ul>

      <div class="footer" fxLayout="row" fxLayoutAlign="center center">
        <div class="action">Mark all as read</div>
      </div>
    </div>

  </div>
</div>

<ng-template #elseBlock>
  <div class="no" fxLayout="row" fxLayoutAlign="center center">暂无通知</div>
</ng-template>
