.app-info-field{
    display: flex;
    width: 350px;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 25px;
    border-radius: 8px;
    background: #FFF;
    border : 2px solid #3062C8;
}

.app-info-field-title{
    color: #666;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.app-info-field-content{
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input{
    width: 300px;
}