<nav>
  <div class="logo" >
    <img (click)="navigateToHome()" src="/assets/Logo.svg" style="width: 62px; height: 42px; cursor: pointer;">
    <div class="logo-title" >MatchMingle</div>
  </div> 
    <ul>
      <li class="aa" (click)="togglePlus()"> <app-icon imageUrl="/assets/Plus.svg"></app-icon>  
      </li>
      <li class="aa" (click)="navigateToEvent()"><app-icon imageUrl="/assets/Evennement.svg"></app-icon> </li>
      <li class="aa" (click)="toggleNotif()">
        <div class="icon-container">
            <app-icon imageUrl="/assets/Notification.svg"></app-icon>
            <span class="notification-indicator" *ngIf="notifications?.length !== 0 && getUnreadMessages() !== 0">
                {{getUnreadMessages()}}
            </span>
        </div>
      </li>    
      <li class="aa" (click)="logOutUser()"> <app-icon imageUrl="/assets/Deconnexion.svg"></app-icon> </li>
      <li class="aa" (click)="toggleProfile()"> <img [src]="profileImage" style="width: 60px; height: 60px;"> </li>
    </ul>
</nav>
<div *ngIf="isProfileClicked">
  <app-profil [firstName]="firstName" [lastName]="lastName" [profileImage]="profileImage" [role]="role" [email]="email"></app-profil>
</div>

<div *ngIf="isNotifClicked">
  <app-notification [notifications]="notifications"></app-notification>
</div>