<nav>
  <div class="logo" >
    <img (click)="navigateToHome()" src="/assets/Logo.svg" style="width: 62px; height: 42px; cursor: pointer;">
    <div class="logo-title" >MatchMingle</div>
  </div> 
    <ul>
      <li class="aa" (click)="togglePlus()"> <app-icon imageUrl="/assets/Plus.svg"></app-icon> </li>
      <li class="aa" (click)="navigateToEvent()"><app-icon imageUrl="/assets/Evennement.svg"></app-icon> </li>
      <!-- <li class="aa"> <app-icon imageUrl="/assets/Notification.svg"></app-icon> </li> -->
      <li class="aa" (click)="logOutUser()"> <app-icon imageUrl="/assets/Deconnexion.svg"></app-icon> </li>
      <li class="aa" (click)="toggleNotif()"> <app-icon imageUrl="/assets/Notification.svg">
        <span class="badge" *ngIf="notifications && notifications?.length !== 0">{{ notifications.length }}</span>
      </app-icon> </li>
      <li class="aa" (click)="toggleProfile()"> <img [src]="profileImage" style="width: 60px; height: 60px;"> </li>
      <!-- <li class="aa"> <app-icon imageUrl="/assets/Profil.svg"></app-icon> </li> -->
    </ul>
</nav>
<div *ngIf="isProfileClicked">
  <app-profil [firstName]="firstName" [lastName]="lastName" [profileImage]="profileImage" [role]="role" [email]="email"></app-profil>
</div>

<div *ngIf="isPlusClicked">
  <app-list-buttons>
    <app-button-item (click)="toNewMatch()" imageUrl="/assets/Matche.svg" buttonText="Creer un match"/>
    <app-button-item imageUrl="/assets/Terrain.svg" buttonText="Ajouter un terrain"/>
    <app-button-item imageUrl="/assets/Sport.svg" buttonText="Ajouter un sport"/>
  </app-list-buttons>
</div>

<div *ngIf="isNotifClicked">
  <app-notification [notifications]="notifications"></app-notification>
</div>