.match {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute elements along the main axis */
    position: relative;
    height: 4.0625rem;
    flex-shrink: 0;
    background: #FFF;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
}

.match-component {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.8125rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Yellow-light, #FBE9C1);
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.8125rem;
    padding: 0 10px 0 10px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 4px solid #FFBB24;
}

.full {
    background: var(--Green-light, #D5F0E5);
}

.cancel {
    background: var(--Green-light, #ff8e8e);
}

.match-size {
    color: var(--Secondary, #3062C8);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (max-width: 768px) {
    .match {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        gap: 20px;
        height: auto;
    }

    .match-component {
        flex-direction: column;
        align-items: flex-start;
    }
}

