.custom-button {
    width: 92px;
    height: 102px;
    flex-shrink: 0;

    border-radius: 15px;
    border: 1px solid var(--Yellow, #FFBB24);
    background: var(--secondary-light, rgba(48, 98, 200, 0.30));
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  