@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.table{
    width: 535px;
    height: 845px;
    flex-shrink: 0;

    background: rgb(255, 255, 255);
    box-shadow: 5px 0px 8px 0px rgba(0, 0, 0, 0.05) inset;
}

.table-header{
    display: flex;
    height: 77px;
    padding-left: 40px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;

    background: var(--Secondary, #3062C8);

}

.table-header-title{
    width: 400px;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.table-header img{
    right: 0px;
    cursor: pointer;
}