<div class="app-cercle-plan">
    <ul class="flex-container">
        <li *ngFor="let player of playersInfo" > 
            <app-icon [width]="93" color="#3062C8" [imageUrl]="player.profileImage"></app-icon> 
        </li>

        <li *ngFor="let _ of [].constructor(playersNumber - playersInfo.length)"> 
            <app-icon [width]="93" color="#FFBB24" imageUrl="/assets/PlayerAnonym.svg"></app-icon>
        </li>
        
      </ul>
    <div class="app-cercle-plan-content">
        <ng-content></ng-content>
    </div>
</div>
