<div class="match-form-container">
    <form [formGroup]="matchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="sport">Sport</label>
        <select id="sport" formControlName="sport">
            <option value="">Select a Sport</option>
            <option *ngFor="let sport of sports" [value]="sport">{{ sport }}</option>
        </select>
    </div>

        <div class="form-group">
            <label for="dateDebut">Start Date</label>
            <input type="date" id="dateDebut" formControlName="dateDebut">
        </div>

        <div class="form-group">
            <label for="nbplayers">Number of Players</label>
            <input type="number" id="nbplayers" formControlName="nbplayers">
        </div>

        <div class="form-group">
            <label for="nbsubstituts">Number of Substitutes</label>
            <input type="number" id="nbsubstituts" formControlName="nbsubstituts">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" formControlName="address" placeholder="Enter address">
        </div>


        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" rows="4"></textarea>
        </div>

        <div class="form-navigation">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>