<div class="match-form-container">
    <form [formGroup]="matchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="sport">Sport</label>
        <select id="sport" formControlName="sport">
            <option value="">Sélectionnez un sport</option>
            <option *ngFor="let sport of sports" [value]="sport">{{ sport }}</option>
        </select>
    </div>

        <div class="form-group">
            <label for="dateDebut">Date de début</label>
            <input type="datetime-local" id="dateDebut" formControlName="dateDebut">
        </div>

        <div class="form-group">
            <label for="nbplayers">Nombre de Joueurs</label>
            <input type="number" id="nbplayers" formControlName="nbplayers">
        </div>

        <div class="form-group">
            <label for="nbsubstituts">Nombre de Remplaçants</label>
            <input type="number" id="nbsubstituts" formControlName="nbsubstituts">
        </div>

        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" id="address" formControlName="address" placeholder="Entrez une adresse">
        </div>


        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" rows="4"></textarea>
        </div>

        <div class="form-navigation">
            <button type="submit">Valider</button>
        </div>
    </form>
</div>