.profil{
    position: absolute;
    right: 0px;
    border: 2px solid red;
}

.profil-buttons{
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 60px;
    border: 2px solid red;
}

.profil-buttons-left{

}

.profil-buttons-middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap : 24px;
}

.profil-buttons-middle img{
    height: 160px;
    width: 160px;
}

.profil-buttons-right{

}