<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container0">
    <div class="imgBackround">
        <img src="assets/stade.png" class="stade">
    </div>
    <div class="container1">
        <p class="first">MatchMingle</p>
        <br>
        <br>
        <p class="second">Unissant les joueurs, créant des <br> moments, un match à la fois</p>
        <br>
        <form (ngSubmit)="onSubmit()">
            <div class="input">
                <label for="input1" class="left-aligned-label">Email</label><br>
                <input type="text" id="input1" [(ngModel)]="email" name="input1" />
                <br>
                <br>
                <label for="input2" class="left-aligned-label">Password</label>
                <br>
                <div class="input2">
                    <input [type]="isPasswordVisible ? 'text':'password'" id="input2" [(ngModel)]="password" name="input2" placeholder="Password">
                    <i class="initial-eye fas" [ngClass]="isPasswordVisible ? 'fa-eye':'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>

                </div>
            </div>
            <br>
            <div class="remember-forgot">
                <div class="remember">
                    <label for="rememberMe" >Se souvenir de moi</label>
                <input type="checkbox" id="rememberMe" name="rememberMe">
                </div>
                <a href="#">Mot de passe oublié</a>
            </div>
            <br>
     
            <button class="button" type="submit">se connecter</button>
            <br>
            <div class="create">
                <a href="\signup" class="create-account">Créer un compte</a>
            </div>
            
        </form>
    </div>
    
</div>
